@{
    ViewData["Title"] = "Home Page";
}

        <div class="about">
            <div class="intro">
                <h1 class="introhead">Hi, I'm <dfn style="color:var(--accentcolor); font-style: normal;">Shiv</dfn></h1>
                <div class="typeintro">
                    <div class="typewriter">Developer.</div>
                    <div class="typewriter2">Innovator.</div>
                    <div class="typewriter3">Teammate.</div>
                    <div class="typewriter4">Problem-solver.</div>
                </div>
            </div>
            <div class="aboutme">
                <div>
                    <dfn class="keyword">Software Developer&nbsp;</dfn>skilled in <dfn class="keyword">HTML5, CSS, Javascript, Python, Django Framework, C#, ASP.NET/CORE, AJAX, SQL(T-SQL and MySQL), and GIT</dfn>, as well as working within <dfn class="keyword">Agile</dfn> and <dfn class="keyword">Scrum </dfn>frameworks.  Proficient and improving rapidly in <dfn class="keyword">React and JQuery</dfn>.
                    <br><br>
                    With powerful <dfn class="keyword2">experience</dfn> in high-stakes environments, I bring to the table a valuable perspective that elevates <dfn class="keyword2">teams</dfn>. My strengths include learning optimization, soft-skills (e.g improving <dfn class="keyword2">collaboration</dfn>), and <dfn class="keyword2">drive</dfn>.
                </div>
                <div class="skillicons">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Sorry! There was an issue!" />
                    <svg viewBox="0 0 128 128" height="50" width="50" fill="green">
                        <path d="M59.448 0h20.93v96.88c-10.737 2.04-18.62 2.855-27.181 2.855-25.551-.001-38.87-11.551-38.87-33.705 0-21.338 14.135-35.2 36.015-35.2 3.398 0 5.98.272 9.106 1.087zm0 48.765c-2.446-.815-4.485-1.086-7.067-1.086-10.6 0-16.717 6.523-16.717 17.939 0 11.145 5.845 17.26 16.582 17.26 2.309 0 4.212-.136 7.202-.542z"></path>
                        <path d="M113.672 32.321V80.84c0 16.717-1.224 24.735-4.893 31.666-3.398 6.661-7.883 10.873-17.124 15.494l-19.435-9.241c9.242-4.35 13.726-8.153 16.58-14 2.99-5.979 3.943-12.91 3.943-31.122V32.321zM92.742.111h20.93v21.474h-20.93z"></path>
                    </svg>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" alt="Sorry! There was an issue!" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Sorry! There was an issue!" />
                </div>
                <br><br>
                <div class="contact">
                    <a id="portfoliobtn" class="aboutbutton" href="@Url.Action("Projects", "Home")" style="--clr:rgb(71, 181, 255);"><span>Projects</span><i class="btneffects"></i></a>
                    <a id="expbtn" class="aboutbutton" href="@Url.Action("Index", "About")" style="--clr:#ff1867"><span>Experience</span><i class="btneffects"></i></a>
                    <a id="abtbtn" class="aboutbutton" href="#" style="--clr:#76ff7a"><span>Get in touch</span><i class="btneffects"></i></a>
                </div>
            </div>
            <br><br>
            
        </div>
       


